/* 微調整 */
@media all and (min-width: 1001px) {

footer a{
  margin:50px 275px 30px 0;
}

}

/* タブレット用の設定 */
@media all and (max-width: 1000px) {

header p{
  font-size:30px;
}

.above h1{
  font-size:80px;
}

.above h4{
  font-size:53px;
}

.below{
  height:600px;
}

.left{
  width:100%;
}

footer a{
  font-size:15px;
  padding:10px 14px;
}

footer p{
  font-size:17px;
}

}

@media all and (max-width: 835px){

header p{
  font-size:26px;
}

.above h1{
  font-size:78px;
}

.above h4{
  font-size:40px;
}

.below{
  height:600px;
}

footer a{
  font-size:15px;
  padding:10px 14px;
}

footer p{
  font-size:16px;
}

}

/* スマホ用の設定 */
@media all and (max-width: 670px) {

header p{
  font-size:24px;
}

.above h1{
  font-size:77px;
}

.above h4{
  font-size:26px;
}

.below{
  height:580px;
}

.left img{
  margin-bottom:30px;
}

.right p{
  font-size:13px;
}

footer a{
  font-size:14px;
  padding:10px 13px;
}

footer p{
  font-size:13px;
}

}

@media all and (max-width: 335px) {

header p{
  font-size:22px;
}

.above h1{
  font-size:33px;
}

.above h4{
  font-size:17px;
}

.below{
  height:520px;
}

.left img{
  margin-bottom:30px;
  height:200px;
  width:200px;
}

.right p{
  font-size:12px;
}

footer a{
  font-size:12px;
  padding:9px 13px;
}

footer p{
  font-size:11px;
}

}
