/* webページの設定（CSS） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

*{
  box-sizing:border-box;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 全体の設定 */
.container{
  width:100%;
  max-width:1170px;
  margin:0 auto;
  text-align:center;
}

/* 1番上の塊 */
header{
  height:60px;
  background-color:rgb(170,170,170);
  position:fixed;
  top:0px;
  z-index:10;
  width:100%;
}

header p{
  color:white;
  font-family:fantasy;
  line-height:60px;
  float:left;
  font-size:30px;
  padding:5px 0 0 20px;
}

.blue{
  color:blue;
}

header a{
  color:white;
  line-height:60px;
  display:inline-block;
  padding:0 20px;
  background-color:#55acee;
  opacity:0.8;
  float:right;
  margin-right:20px;
}

header a:hover{
  opacity:1.0
}

.fa-twitter{
  margin-right:7px;
}

/* 2番目の塊 */
.above{
  height:600px;
  background-image:url(https://raw.githubusercontent.com/ASANONIJIROU/freelance-webengineer/master/frozen-ice-snowflake-ice.jpg);
  background-size:cover;
  color:white;
}

.orange{
  color:orange;
}

.above h1{
  font-size:90px;
  margin:150px 0 30px 0;
  display:inline-block;
  font-weight:normal;
}

.above h4{
  font-size:70px;
  font-weight:normal;
  display:inline-block;
}

/* 3番目の塊 */
.below{
  height:400px;
  background-color:rgb(50,100,200);
  width:100%;
  color:white;
}

.left{
  float:left;
}

.left h3{
  font-weight:normal;
  font-size:30px;
  letter-spacing:3px;
  margin:40px 30px 30px 30px;
}

.left img{
  width:250px;
  height:250px;
  border-radius:50%;
  border:10px solid gray;
  margin:0 30px 30px 30px;
}

.right{
  padding-top:170px;
}

.right p{
  display:inline-block;
  font-size:15px;
  margin:0 10px;
}

.clear{
  clear:left;
}

/* 最後の塊 */
footer{
  height:200px;
  background-color:rgb(40,40,80);
  width:100%;
}

footer a{
  color:white;
  padding:10px 15px;
  background-color:#55acee;
  box-shadow:5px 5px gray;
  display:inline-block;
  margin:50px 0 30px 0;
  font-size:17px;
}

footer a:active{
  box-shadow:none;
  position:relative;
  top:5px;
  left:5px;
}

footer p{
  color:white;
  font-size:18px;
}
